@charset "UTF-8";
html,
body {
  background-color: #f3f6f9;
}

.navbar {
  transition: all 0.5s ease;
}

.navbar-sticky {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#servicios i {
  font-size: xx-large;
}

#headerCarousel img {
  object-fit: cover;
  object-position: 100% 80%;
}
@media only screen and (min-width: 748px) {
  #headerCarousel {
    height: 600px;
  }
  #headerCarousel .carousel-item {
    height: 600px;
  }
}
#headerCarousel li::marker {
  font-size: 0;
}

.icons {
  background: url(../assets/header-background.jpg) center center no-repeat;
  background-size: cover;
  margin-top: -100px;
  padding-top: 150px;
}

@media only screen and (min-width: 624px) {
  #carouselPrecios a.carousel-control-prev {
    left: -50px;
  }
}
@media only screen and (min-width: 624px) {
  #carouselPrecios a.carousel-control-next {
    right: -50px;
  }
}
#carouselPrecios a span {
  background-color: #000;
}

.drk:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.3;
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
}

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: green;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 24px;
  z-index: 1000;
  cursor: pointer;
}

#mapa {
  height: 500px;
}

@media only screen and (min-width: 748px) {
  #telefonos {
    width: 350px;
  }
}

/* Estilos específicos para la imagen de fondo */
#contacto {
  background-image: url("../assets/contacto-background.jpg");
  /* Ajusta la altura de la sección según tus necesidades */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#contacto .dark-bg {
  z-index: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
#contacto h2 {
  position: relative;
}
#contacto a {
  color: #f3f6f9;
}
#contacto a:hover {
  color: #c2c519;
}
#contacto * {
  z-index: 1;
}

.list-unstyled {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-around;
}
